.header{
    color:crimson;
    background-color:rgb(126, 156, 207);
    font-size: medium;
    padding: 5px;
    margin-bottom: 20px;
}
.body{
    min-height: 97vh;
    background-image: linear-gradient(to right, #c981c5, #7f1d92);
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home_container{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    /* height:10%; */
}
.reg{
    width: 35%;
    height:382px;
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5px;
    align-items: center;
}
.reg1{
    height:382px;
    width: 40%;
    background-color: rgb(39, 39, 64);
    color: white;
}
.alreadylog{
    color: rgb(21, 142, 77);
    font-weight: bolder;
}
.reg2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:382px;
    align-content: space-around;
    justify-content: space-around;
    gap: 5px;
    /* background-color: aqua; */
}
.register{
    font-size:1.5vw;
}
input{
    width: 18vw;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: larger;
}
.exampl{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    width:30%;
    height: 60vh;
    color: white;
    background-color: rgb(15, 43, 52);
}
b{
    color:blue;
}
.exp2{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: azure;
}
.exp3{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: azure;
}
button{
    font-size: larger;
    background-color: darkblue;
    width: 12vw;
    height: 5vh;
    color: white;
    border-radius: 5px;
}
a{
    color: white;
    text-decoration: none;
}